<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New item packs alias</h1>

  <%= render "form", item_packs_alias: @item_packs_alias %>

  <%= link_to 'Back to item packs aliases', item_packs_aliases_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
