<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing item measures alias</h1>

  <%= render "form", item_measures_alias: @item_measures_alias %>

  <%= link_to "Show this item measures alias", @item_measures_alias, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to item measures aliases", item_measures_aliases_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
