<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing item measure</h1>

  <%= render "form", item_measure: @item_measure %>

  <%= link_to "Show this item measure", @item_measure, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to item measures", item_measures_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
